div {
	border: 1px solid black;
}

.flex-container {
	background-color: lightblue;
	height: 150px;
	width: 500px;
	display: flex;
	flex-direction: column;
}

.box {
	background-color: orange;
	height: 50px; 
	width: 50px;
}

.first {
	align-self: center;
}
